<!-- about us --> 
<div class="about-w3layouts" id="about">
	<div class="container">	
		<h5 class="title-w3">About Us</h5>
		<div class="col-md-6 left-agile">
			<div id="horizontalTab">
					
					<div class="resp-tabs-container" >
						<div class="tab1" style="width:100%">
							<h4 class="sub-w3l">Introduction</h4>
							<p class="subp-w3l in1">The vtac group is a diverse cadre of professionals committed to providing you up-to-date and accurate information regarding childcare and educational opportunities throughout the United States and abroad.  Apeksha Hakim, Christina Ruc, Theresa Bates, and Victor Mack all hail from Charlotte, NC, a region rich in educational leadership and ground-breaking decisions from the Swann v. Board of Education case to current school assignment incorporating socio-economic status to ensure school equity.</p>
							<h4 class="sub-w3l">The vtac group is committed to providing its services to the public for free to ensure all children have an opportunity to engage in a quality education, regardless of race, ethnicity, religion, gender, or background.</h4>
							<p class="subp-w3l in1"></p>
						</div>
						
					</div>
			</div>
		</div>
		
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //about us --> 
