<div class="container" >

    <div class="row">

         <div class="col-md-offset-3 col-md-6" ng-controller="myCtrl" > 

             <h2 id="formhead"> Browse Schools</h2>

           

<form id="contact" action="" method="post" ng-submit="sub()">
   
    <fieldset>
      <label><p>City:</p></label>
      <input placeholder="City" ng-model="city" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
        <label><p>State:</p></label>
      <input placeholder="State" ng-model="state" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
        <label><p>Type:</p></label>
      <select name="type" ng-model="type" name="field4" class="field-style field-full" id="type">
                            <option value="public" selected>Public</option>
                            <option value="private">Private</option>
                            
                            <option value="charter" >Charter</option>
                        </select>
    </fieldset>
    <fieldset>
        <label><p>Level:</p></label>
      <select name="level" ng-model="level" name="field5" class="field-style field-full " id="level">
                            <option value="elementary-schools">Elementary-Schools </option>
                            <option value="middle-schools" selected>Middle-Schools</option>
                            <option value="high-schools" >High-Schools</option>
                        </select>
    </fieldset>
    <fieldset>
<button name="submit" type="submit" id="contact-submit"  >Submit</button>

    </fieldset>
   
  </form>
</div>
    </div></div>