<div class="container" >

    <div class="row">

         <div class="col-md-offset-3 col-md-6" ng-controller="myCtrl" > 

             <h2 id="formhead">School Test Scores</h2>

            

<form id="contact" action="" method="post" ng-submit="test()">
   
    <fieldset>
        <label><p>State:</p></label>
      <input placeholder="State" ng-model="state" type="text" tabindex="2" required>
    </fieldset>
    
    <fieldset>
        <label><p>School Id:</p></label>
      <input placeholder="gsid" ng-model="gsid" type="text" tabindex="2" required>
    </fieldset>

    <fieldset>
<button name="submit" type="submit" id="contact-submit"  >Submit</button>

    </fieldset>
   
  </form>
</div>
    </div></div>