
	<!-- contact -->
<div class="contact" id="contact">
	<div class="contact-top">
		<h3>Contact us</h3>
	</div>
	<div class="container">
		<div class="contact-main w3agile">
			<div class="col-md-7 contact-left">
			  <div class="contact-bottom">
			  	<form action="#" method="post">
			  		<input type="text" placeholder="Name" name="Name" required="">
			  		<input type="email" class="no-mar" placeholder="Email" name="Email">
			  		<textarea placeholder="Message" name="Message"></textarea>
			  		<input type="submit" value="Submit">
			  	</form>
			  </div>
			 </div>
			 <div class="col-md-5 map">
			 	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13036.4708593688!2d-80.8349193!3d35.2284396!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9f5c6731be8cbf86!2sUNC+Charlotte+Center+City!5e0!3m2!1sen!2sus!4v1494645846170" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			 </div>
		   <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--find-->
<!-- <div class="footer agileinfo">
	<div class="container">
		<div class="footre-main">
			   <div class="footer-top">
			   	<h3>Find Us</h3>
			   </div>
			   <div class="footer-bottom">
			   	 <div class="col-md-4 ftr-grid">
			   	 	<span class="ftr-address-icons"><img src="images/f1.png" alt=""></span>
			   	 	 <div class="ftr-text">
				   		<h4>Phone</h4>
				   		<p>+12 5842 544 971</p>
				   		<p>+12 4267 583 719</p>
			   	     </div>
			   	     <div class="clearfix"> </div>
			   	 </div>
			   	 <div class="col-md-4 ftr-grid">
			   	 	<span class="ftr-address-icons"><img src="images/f3.png" alt=""></span>
			   	 	<div class="ftr-text">
			   		  <h4>Office Address</h4>
			   		  <p>New York,Bronx,Morris Park</p>
                       <p>5280 Wetzel Lane Grand Rapids</p>
			   		</div>
			   		 <div class="clearfix"> </div>
			   	 </div>
			   	 <div class="col-md-4 ftr-grid">
			   	 	<span class="ftr-address-icons"><img src="images/f2.png" alt=""></span>
			   	 	<div class="ftr-text">
			   		  <h4>Email</h4>
			   		  <p><a href="mailto:info@example.com">mail@example1.com</a></p>
			   		  <p><a href="mailto:info@example.com">mail@example2.com</a></p>
			   		</div>
			   		 <div class="clearfix"> </div>
			   	 </div>
			   	 <div class="clearfix"> </div>
		     </div>			
		</div>
	</div>
</div>-->
<!-- //find -->