		<div class="component" ng-controller="myCtrl1" >
            <h2 style="text-align:center">Day Care Info</h2><hr>
				<form ng-submit="saveSearch()">
				<table id="tablediv">
					<thead>
						<tr>
							<th>Save</th>
							<th>Name</th>
							<th>Address</th>
							
							
							
						</tr>
					</thead>
					<tbody>
						<!-- <tr ng-repeat="item in items">
                            
      						<td><input type="checkbox" ng-model="item.value" ng-click="setSelected(item)"></td> 
							<td ng-model="name">{{item.id}}</td> 
                            <td ng-model="name">{{item.name}}</td>
                            <td ng-modal="type">{{item.type}}</td> -->
                            <!--<td><a ng-href="{{item.url}}">{{item.url}}</a></td>-->
							<!-- <td ng-model="address">{{item.address}}</td>  -->

          
                       <!--  </tr> -->
					</tbody>
				</table>
				<button type="submit">Save Search</button>
				</form>
				
			</div>

            <div id="mapprop"></div>
            

			