<!--team start here-->
<div class="team  wthree" id="team">
	<div class="container">
		<div class="team-main">
			<div class="team-top">
				<h3>Meet Our Team</h3>
			</div>
			<div class="team-bottom">
				<div class="col-md-3 team-grid">
					<img  alt="" src="images/t.jpg">
					<div class="team-text">
						<h4>Christina Ruc</h4>
						<h5></h5>
					</div>
					<div class="caption">
						<ul>
							<li><a href="#"><i class="fa fa-facebook f1" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-twitter f2" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-google-plus f3" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 team-grid">
					<img alt="" src="images/t.jpg">
					<div class="team-text">
						<h4>Theresa Bates</h4>
						<h5></h5>
					</div>
					<div class="caption">
						<ul>
							<li><a href="#"><i class="fa fa-facebook f1" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-twitter f2" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-google-plus f3" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 team-grid">
					<img  src="images/t.jpg" alt="" >
					<div class="team-text">
						<h4>Victor Mack</h4>
						<h5></h5>
					</div>
					<div class="caption">
						<ul>
							<li><a href="#"><i class="fa fa-facebook f1" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-twitter f2" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-google-plus f3" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 team-grid">
					<img  src="images/t.jpg" alt="" >
					<div class="team-text">
						<h4>Apeksha Hakim</h4>
						<h5></h5>
					</div>
					<div class="caption">
						<ul>
							<li><a href="#"><i class="fa fa-facebook f1" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-twitter f2" aria-hidden="true"></i></a></li>
							<li><a href="#" ><i class="fa fa-google-plus f3" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- //team -->