		<div class="component" ng-controller="myCtrl1" >
				<form ng-submit="saveSearch()">
				<table id="tablediv">
					<thead>
						<tr>
							<th>Save</th>
							<th>School Id</th>
							<th>School Name</th>
							<th>Type</th>
							<th>Address</th>
							<th>Details</th>
							
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="item in items" >
                            
      						<td><input type="checkbox" ng-model="item.value" ng-click="setSelected(item)"></td> 
							<td ng-model="name" >{{item.id}}</td> 
                            <td ng-model="name">{{item.name}}</td>
                            <td ng-modal="type">{{item.type}}</td>
                            <!--<td><a ng-href="{{item.url}}">{{item.url}}</a></td>-->
							<td ng-model="address">{{item.address}}</td>
							<td>
							<button ng-if="item.expanded" ng-click="item.expanded = false">Collapse</button>
              				<button ng-if="!item.expanded" ng-click="item.expanded = true">Details</button>
							</td>

          
                        </tr>
						<tr ng-if="item.expanded" ng-repeat-end="" style="text-align:center">
            
							<td colspan="6"><h4>School Id: <span style="color:black" >{{item.id}}</span></h4>
							<h4>Name : <span style="color:black">{{item.name}}</span> </h4>
							<h4>Type : <span style="color:black">{{item.type}}</span> </h4>
							<h4>Grade Range: <span style="color:black">{{item.range}}</span> </h4>
							<h4>Enrollment : <span style="color:black">{{item.enroll}}</span> </h4>
							<h4>Parent Rating : <span style="color:black">{{item.rating}}</span> </h4>
							<h4>City : <span style="color:black">{{item.city}}</span> </h4>
							<h4>State : <span style="color:black">{{item.state}}</span> </h4>
							<h4>Address : <span style="color:black">{{item.address}}</span> </h4>
							<h4>Phone Number : <span style="color:black">{{item.phone}}</span> </h4>
							<h4>Fax: <span style="color:black">{{item.fax}}</span> </h4>
							<h4>Website : <span style="color:black">{{item.website}}</span> </h4></td>
          				
						  </tr>
					</tbody>
				</table>
				<button type="submit">Save Search</button>
				</form>
				
			</div>

            

			